/MCompilationUnitImpl.java
/MInvocationImpl.java
/MProjectImpl.java
/XEntityImpl.java
/MInitializerImpl.java
/MAssignmentImpl.java
/MInitializationImpl.java
/MVariableDeclarationFragmentImpl.java
/MExpressionImpl.java
/MIfStatementImpl.java
