/MCompilationUnit.java
/MInvocation.java
/MProject.java
/XEntity.java
/MInitializer.java
/MAssignment.java
/MInitialization.java
/MVariableDeclarationFragment.java
/MExpression.java
/MIfStatement.java
/MDeclaration.java
/MVariableDeclaration.java
/MInfixExpression.java
/MReturnStatement.java
/MMethod.java
/MPrefixExpression.java
