/MCompilationUnit.java
/MInvocation.java
/MProject.java
/XEntity.java
/MInitializer.java
/MAssignment.java
/MInitialization.java
/MVariableDeclarationFragment.java
/MExpression.java
/MIfStatement.java
/MDeclaration.java
/MVariableDeclaration.java
/MInfixExpression.java
/MReturnStatement.java
/MMethod.java
/MPrefixExpression.java
/MRule1Atom.java
/MRule2Atom.java
/MRule3Atom.java
/MRule4Atom.java
/MRule5Atom.java
/MRule6Atom.java
/MRule7Atom.java
/MRule8Atom.java
/MRule9Atom.java
/MRule12Atom.java
/MRule14Atom.java
/MRule15Atom.java
/MRule16Atom.java
/MRule17Atom.java
/MRule18Atom.java
/MRule19Atom.java
/MRule20Atom.java
/MRule21Atom.java
/MRule25Atom.java
/MRule26Atom.java
/MRule10Atom.java
/MRule121Atom.java
/MNumber.java
/MAnalysis.java
/MRule13Atom.java
